user_data/data/*
!user_data/data/.gitkeep


user_data/backtest_results/*
!user_data/backtest_results/.gitkeep

scripts/outputs/*
!scripts/outputs/.gitkeep


user_data/strategies/*
!user_data/strategies/.gitkeep

results/*
!results/.gitkeep

bestgenerations/*
!bestgenerations/.gitkeep
