fitness_log.txt

genetic_algorithm_results*

user_data/data/*
!user_data/data/.gitkeep


user_data/backtest_results/*
!user_data/backtest_results/.gitkeep

scripts/outputs/*
!scripts/outputs/.gitkeep


user_data/strategies/*
!user_data/strategies/.gitkeep

results/*
!results/.gitkeep

bestgenerations/*
!bestgenerations/.gitkeep

candidates/*
!candidates/.gitkeep

user_data/config-hafbmvvr.json
user_data/config-notakai.json
user_data/config-TheGreateDivergenceSpot.json
