{
    "proxy": {
        "https": "http://127.0.0.1:7890",
        "http": "http://127.0.0.1:7890",
        "all": "socks5://127.0.0.1:7890"
    },
    "freqtrade_path": "/Users/zhangjiawei/Projects/freqtrade/.venv/bin/freqtrade",
    "strategy_dir": "user_data/strategies",
    "user_dir": "user_data",
    "data_dir": "user_data/data/binance",
    "results_dir": "results",
    "config_file": "user_data/config.json",
    "population_size": 30,
    "generations": 30,
    "crossover_prob": 0.8,
    "mutation_prob": 0.2,
    "backtest_timerange_weeks": 30,
    "tournament_size": 2,
    "pool_processes": 4,
    "max_retries": 3,
    "retry_delay": 0.01,
    "add_max_open_trades": true,
    "add_dynamic_timeframes": false,
    "checkpoint_dir": "checkpoints",
    "checkpoint_frequency": 1,
    "project_dir": "/Users/zhangjiawei/Projects/GeneTrader",
    "best_generations_dir": "bestgenerations",
    "base_strategy_file": "candidates/E0V1E_Bull.py",
    "fix_pairs": true,
    "num_pairs": 1,
    "diversity_threshold": 0.1,
    "max_mutation_prob": 0.4,
    "remote_path": "/your/remote/path",
    "hostname": "remote_ip",
    "port": 22,
    "username": "root",
    "key_path": "/Users/xx/.ssh/id_rsa",
    "bark_endpoint": "http://3.1.4.2:8081",
    "bark_key": "xxxx",
    "remote_datadir": "/root/trade/user_data/",
    "remote_strategydir": "/root/trade/user_data/strategies/",
    "api_url": "",
    "freqtrade_username": "",
    "freqtrade_password": ""
}
